@model Congratulator.Interface.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>Today's birthday</h2>
<div class="row justify-content-center">
    @if (Model.BirthdayPeople.Count() == 0)
    {
        <div class="m-3">
            <p>You have no one to congratulate today</p>
        </div>
    }
    else
    {
        @foreach (var item in Model.BirthdayPeople)
        {
            <div class="card p-2 m-2 shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    @Html.Partial("BirthdayListItem", item)
                </div>
            </div>
        }
    }
</div>


<h2>Upcoming birthdays</h2>
<div class="row justify-content-center">

    @if (Model.BirthdayPeopleSoon.Count() == 0)
    {
        <div class="m-3">
            <p>There are no birthdays in the near future</p>
        </div>
    }
    else
    {
        @foreach (var item in Model.BirthdayPeopleSoon)
        {
            <div class="card p-2 m-2 shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    @Html.Partial("BirthdayListItem", item)
                </div>
            </div>
        }
    }
</div>